.denyselect {
    user-select: none;
    -webkit-user-drag: none;
}

* { border: 0px solid red; }

.center-content {
    text-align: center;
    margin-top: 4em;
}

body {
   background-color: rgb(255, 255, 250); 
   margin: 0;
   padding: 0;
   height: 1470px;
   font-family: 'Inter';
}

.content {
    margin-top: 154px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main .header {
    top: 0;
    background-color: rgba(81, 113, 131, 0.07);
    backdrop-filter: blur(7px); 
    color: rgb(0, 25, 28);
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    padding: 24px 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .header a {
    color: black;   
    font-size: 20;
    margin: 0 10px; 
    text-decoration: none;
}

.main .header a:hover {
    color: rgb(130, 130, 130);
    cursor: pointer;
}

.header .logo img {
    height: 48px;
    width: 64px;
    align-items: left;
    justify-content: left;
}

.logo {
    float: left;
}

.settings #cog {
    transition: 0.5s;
}

.settings:hover #cog {
    cursor: pointer;
    transform: translate(0px, -1px) rotate(118deg);
    color: #d3c67d;
}

.settings a {
    top: 0;
}

.login {
    padding: 10px 0;
    width: 90px;
    background-color: white;
    border:2px solid #d3c67d;
    border-radius: 3px;
    color: #d3c67d;
    font-weight: 600;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.13);
}

.signup {
    padding: 10px 0;
    width: 90px;
    background-color: #3DAEAE;
    border:2px solid #379b9b;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.13);
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    padding: 1em 1em;
    border-radius: 6px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
    text-align: center;
    margin-right: 1em;
    font-size: 13px;
}

.settings:hover .dropdown {
    display: block;
  }

.design {
    display: inline-block;
    text-align: center;
}

.slogan {
    font-size: 76px;
    font-weight: 600;
    color: #d3c67d;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.start {
    font-weight: 600;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 6px;
    font-size: 27px;
    background: linear-gradient(90deg, rgb(187, 165, 78) 14%, rgba(255,237,137,1) 100%);
    display: inline-block;
    text-align: center;
    padding: 0.3em 1em 0.5em 1em;
    margin-top: 2em;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.start a:hover {
    background: linear-gradient(90deg, rgb(197, 175, 88) 14%, rgba(255,242,142,1) 100%);
    transform: scale(1.02);
    cursor: pointer;  
}

.preview {
    height: 360px;
    width: 640px;
    border-radius: 5px;
    margin-left: 5em;
}

#magic {
    transform: translate(0, 3px);
}

.line {
    background-color: rgb(225, 225, 225);
    height: 1px;
    width: 40em;
    display: inline-block;
}

.info {
    color: #3DAEAE;
}

.line2 {
    background-color: rgb(225, 225, 225);
    height: 1px;
    width: 2em;
    display: inline-block;
}

.step-container {
    margin-top: -2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step {
    color: #3DAEAE;
    font-size: 35px;
    font-weight: 600;
    width: 450px;
}

.title {
    margin-top: 0.5em;
}

.step .description {
    color: rgb(134, 150, 146);
    font-size: 17px;
    margin-top: 0.5em;
}

.step-container div svg {
    margin-top: 3em;
}

.stepimg {
    background: linear-gradient(30deg, rgb(21, 102, 102) 14%, rgb(61, 174, 174) 100%);
    width: 125px;
    height: 125px;
    border-radius: 62.5px;
    margin: auto;
}

.stepimg svg {
    display: grid;
}

.footer {
    position: sticky;
    bottom: 0;
    text-align: center;
    bottom: 0;
}